# Desafio do restaurante Fome Zero
## Perguntas de negocios
### Geral
- Quantos restaurantes únicos estão registrados
- Quantos países únicos estão registrados
- Quantas cidades únicas estão registradas
- Qual o total de avaliações feitas
- Qual o total de tipos de culinária registrados
### Países
- Qual o nome do país que mais possui cidade registradas
- Qual o nome do país que mais tem restaurantes registrados
- Qual o nome do país que mais possui restaurantes com nivel de preço gourmet registrados
- Qual o nome do país que mais possui tipos de culinárias diferentes
- Qual o nome do país que mais possui avaliacoes feitas
- Qual o nome do país que mais tem restaurantes que fazem entregas
- Qual o nome do país que tem mais restaurantes aceitando reservas
- Qual o nome do país que possui, na média, a maior nota registrada
- Qual o nome do pais que possui a menor nota média registrada
- Qual a média de preço de um prato para 2 por país
### Cidade
- Qual o nome da cidade com mais restaurantes registrados
- Qual o nome da cidade que mais possui restaurante com nota media acima de 4
- Qual o nome da cidade que mais possui restaurantes com notas medias abaixo de 2.5
- Qual o nome da cidade que possui o maior valor médio de um prato para dois
- Qual o nome da cidade que possui a maior quantidade de tipos de culinárias
- Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam reservas
- Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas
- Qual o nome da cidade que possui a maior quantidade de restaurante que aceitam pedidos online
### Restaurantes
- Qual o nome do restaurantes com maior quantidade de avaliacoes
- Qual o nome do restaurante com a maior nota média
- Qual o nome do restaurante que possui o maior valor de um prato para 2 pessoas
- Qual o nome do restaurante com o tipo de culinaria com a menor media de avaliacao
- Qual o nome do restaurante de culinária brasileira, do Brasil, com maior avaliacao média
- Os restaurantes que aceitam pedido online são tambem, na média os que tem maior quantidade de avaliacoes registrada?
- Os restaurantes que fazem reserva são os que tem o maior valor de um prato para 2?
- Os restaurantes de culinaria japonesa dos EUA possuem um valor médio de prato para 2 pessoas são maior do que os do tipo BBQ?
- ### Culinária
- Dos restaurantes de culinária italiana, qual o que tem maior média de avaliacao
- Dos restaurantes de culinária italiana, qual o que tem menor média de avaliacao
- Dos restaurantes de culinária americana qual o que tem a maior média de avaliacao
- Dos restaurantes de culinária americana qual o que tem a menor média de avaliacao
- Dos restaurantes de culinária árabe qual o que tem a maior média de avaliacao
- Dos restaurantes de culinária árabe qual o que tem a menor média de avaliacao
- Dos restaurantes de culinária japonesa qual o que tem a maior média de avaliacao
- Dos restaurantes de culinária japonesa qual o que tem a menor média de avaliacao
- Dos restaurantes de culinária caseira qual o que tem a maior média de avaliacao
- Dos restaurantes de culinária caseira qual o que tem a menor média de avaliacao
- Qual o tipo de culinária com o maior valor médio de prato para 2
- Qual o tipo de culinária com maior nota média
- Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas

# Importacao e das bibliotecas e das bases de dados

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [3]:
df_base = pd.read_csv('data/zomato.csv')
df_base.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

## Limpeza da base de dados

In [14]:
df_limpo = df_base.copy()

In [8]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7512 entries, 0 to 7526
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         7512 non-null   int64
 1   Restaurant Name       7512 non-null   object
 2   Country Code          7512 non-null   int64
 3   City                  7512 non-null   object
 4   Address               7512 non-null   object
 5   Locality              7512 non-null   object
 6   Locality Verbose      7512 non-null   object
 7   Longitude             7512 non-null   float64
 8   Latitude              7512 non-null   float64
 9   Cuisines              7512 non-null   object
 10  Average Cost for two  7512 non-null   int64
 11  Currency              7512 non-null   object
 12  Has Table booking     7512 non-null   int64
 13  Has Online delivery   7512 non-null   int64
 14  Is delivering now     7512 non-null   int64
 15  Switch to order menu  7512 non-null   int64
 16  Price range           7512 non-null   int64
 17  Aggregate rating      7512 non-null   float64
 18  Rating color          7512 non-null   object
 19  Rating text           7512 non-null   object
 20  Votes                 7512 non-null   int64
dtypes: float64(3), int64(9), object(9)
memory usage: 1.3+ MB

## Convertendo colunas para codigos assim como pede o as regras de negócios

In [15]:
#convertendo paises para o código correspondente a eles
COUNTRIES = {
   1: "India",
   14: "Australia",
   30: "Brazil",
   37: "Canada",
   94: "Indonesia",
   148: "New Zeland",
   162: "Philippines",
   166: "Qatar",
   184: "Singapure",
   189: "South Africa",
   191: "Sri Lanka",
   208: "Turkey",
   214: "United Arab Emirates",
   215: "England",
   216: "United States of America",
}

In [16]:
df_limpo["Country Code"] = df_limpo["Country Code"].map(COUNTRIES)
df_limpo["Country Code"]

0       Philippines
1       Philippines
2       Philippines
3       Philippines
4       Philippines
           ...
7522         Turkey
7523         Turkey
7524         Turkey
7525         Turkey
7526         Turkey
Name: Country Code, Length: 7527, dtype: object

In [20]:
#table booking
table = {0: "Not booking", 1: "Booking"}
df_limpo["Has Table booking"] = df_limpo["Has Table booking"].map(table)
df_limpo["Has Table booking"]

0           Booking
1           Booking
2       Not booking
3       Not booking
4       Not booking
           ...
7522    Not booking
7523    Not booking
7524    Not booking
7525    Not booking
7526    Not booking
Name: Has Table booking, Length: 7527, dtype: object

In [ ]:
#convertendo a coluna de online delivery
online = {1: "Delivering online", 0:"not delivering online"}
df_limpo["Has Online"] = df_limpo["Has Online"].map(online)
df_limpo["Has Online"]

In [17]:
#convertendo a coluna de entrega para categorica
delivery = {1:"Delivering", 0:"Not delivering"}
df_limpo["Is delivering now"] = df_limpo["Is delivering now"].map(delivery)
df_limpo["Is delivering now"]

0       Not delivering
1       Not delivering
2       Not delivering
3       Not delivering
4       Not delivering
             ...
7522    Not delivering
7523    Not delivering
7524    Not delivering
7525    Not delivering
7526    Not delivering
Name: Is delivering now, Length: 7527, dtype: object

In [18]:
#precos do restaurantes
def tipo_do_preco(preco):
   if preco == 1:
      return 'cheap'
   if preco == 2:
      return 'normal'
   if preco == 3:
      return 'expensive'
   else:
      return 'gourmet'

In [19]:
df_limpo["Price range"] = df_limpo["Price range"].map(tipo_do_preco)
df_limpo["Price range"]

0       expensive
1       expensive
2         gourmet
3       expensive
4       expensive
          ...
7522      gourmet
7523       normal
7524      gourmet
7525    expensive
7526      gourmet
Name: Price range, Length: 7527, dtype: object

In [21]:
#nome das cores
COLORS = {
   "3F7E00": "darkgreen",
   "5BA829": "green",
   "9ACD32": "lightgreen",
   "CDD614": "orange",
   "FFBA00": "red",
   "CBCBC8": "darkred",
   "FF7800": "darkred",
}

In [22]:
df_limpo["Rating color"] = df_limpo["Rating color"].map(COLORS)
df_limpo["Rating color"]

0       darkgreen
1       darkgreen
2       darkgreen
3           green
4           green
          ...
7522        green
7523    darkgreen
7524        green
7525        green
7526        green
Name: Rating color, Length: 7527, dtype: object